.show-unit{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.entry-animation{
    opacity: 1;
    transform: translateY(0);
}
.entry-animation-x{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}