@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ontest title */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* title desc */
@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@layer base{
    html,body,.app{
        font-family: "Noto Sans", sans-serif
    }
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hidden {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
#root{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.App{
    width: 100%;
    /* height: 100vh; tester */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.text-outline{
    text-shadow:
    1px 1px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000;
}
.no-select{
    user-select: none;
}
/* .no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */
/* body,html{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}
html,body,#root{
    margin: 0;
    padding: 0;
    height: 100%;
}*/
/* html, body, #root>.App> div {
    height:100vh;
  }  */